* {
  margin: 0;
}

body {
  margin: 0;
}

.addBtn {
  cursor: pointer;
  height: 3.2rem;
  width: 10rem;
  margin-top: 10px;
}
.addBtn:hover {
  background-color: green;
}

.deleteBtn {
  cursor: pointer;
  height: 3.2rem;
  width: 10rem;
}

.deleteBtn:hover {
  background-color: red;
}

input {
  width: 60rem;
  padding: 10px;
  font-size: 1.5rem;
  margin-top: 10px;
}

.inputDiv {
  display: flex;
  justify-content: center;
}

.header {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.lists li {
  list-style: none;
}

.listDiv {
  display: flex;
  margin-top: 20px;
}

.listItem {
  cursor: pointer;
  font-size: 2rem;
  width: 60.5rem;
}

.innerDiv {
  width: 100%;
  margin: 10px 80px;
}
